body {
    margin: 0;
    /* background: linear-gradient(90deg, #DBE8F3, #d4d6f3ff, #FFFFFF); */
    background: radial-gradient(116.99% 142.51% at 6.98% -12.11%, #3919BB 34.73%, #510FDD 45.32%, #8C4FEC 60.26%, #1CA511 74.2%, #70B96F 82.09%, #E29967 88.47%, #590CE8 100%);
}


.body-home {
    width: 100%;
    height: 100vh;
    margin: auto;
    /* display: flex; Menjadikan elemen flex container */
    /* flex-direction: column; Mengatur elemen-elemen berada di bawahnya */
    align-items: center;
    /* Menengahkan konten secara vertikal */
    justify-content: center;
    /* Menengahkan konten secara horizontal */
    /* background-image: url("./assets/pattern.svg"), url("./assets/pattern2.svg"); */
    background-image: url("./assets/home5.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom;
    /* Mengatur posisi latar belakang pertama di kiri atas dan latar belakang kedua di kanan atas */
    background-size: cover;
    color: #FFFFFF;
}

.content {
    /* height: auto; */
    /* border: 1px solid black; */
    margin-bottom: 10px;
    position: relative;
    top: 35%;
    bottom: 65%;
    text-align: center;
}

.content h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    -webkit-text-stroke: #FFC700 0.2px;
}

.content p {
    font-family: 'Bellefair', serif;
    font-size: 1.4rem;
    /* -webkit-text-stroke: #FFC700 0.1px; */
}

.link {
    /* background-color: aqua; */
    position: relative;
    top: 40%;
    text-align: center;
}

.button-home {
    display: inline-block;
    padding: 12px 24px;
    /* Sesuaikan dengan ukuran tombol Anda */
    font-size: 16px;
    background-color: #231C3B;
    /* Warna latar belakang */
    color: #ffffff;
    /* Warna teks */
    border: none;
    border-radius: 4px;
    /* Sudut tombol yang melengkung */
    /* cursor: pointer; */
    transition: background-color 0.3s ease;
    /* Efek animasi saat hover */
}

.button-home:hover {
    background-color: #FFC700;
    /* Warna latar belakang saat hover */
}

.body-home ul {
    /* display: inline; */
    /* margin-top: 1rem; */
    padding: 0%;
    margin: auto;
}

.body-home li {
    display: inline;
    margin: 5rem;
}

a {
    text-decoration: none;
    margin: auto;
}

.project {
    /* background: linear-gradient(90deg, #DBE8F3, #d4d6f3ff, #FFFFFF); */
    background-image: url("./assets/project3.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* Mengatur posisi latar belakang pertama di kiri atas dan latar belakang kedua di kanan atas */
    background-size: 100%, 100%;
    height: 100vh;
    margin-bottom: 0;
    padding-bottom: 0;
    background-size: cover;
}

.container-project {
    height: 80vh !important;
}

.navbar {
    background: transparent !important;
}

.navbar-brand {
    width: auto;
    padding-right: 25rem;
    margin-left: 10px;
    color: #FFFFFF !important;
    font-family: 'Sue Ellen Francisco', cursive;
    -webkit-text-stroke: #FFC700 0.2px;
    font-size: 2.5rem !important;
}

.navbar-nav {
    /* padding: 0, 15rem, 0; */
    /* margin: 0%; */
    /* text-align: center;
    align-items: center; */
    margin-right: 2rem;
    /* border-bottom: 2px solid #2C1E59; */
}

.nav-item {
    padding: 0%;
    padding-left: 4rem;
    margin: 0%;
    display: flex;
    font-family: 'Bellefair', serif;
    font-size: 1.3rem;
}

.nav-item .btn {
    background-color: #2C1E59 !important;
    width: 15vh;
}

.nav-item .btn:hover {
    background-color: #483285ff !important;
    border-radius: 4px;
    padding: 12px 24px;
    /* Atau warna latar belakang kuning yang Anda inginkan */
}

.nav-link {
    color: #FFFFFF !important;
    justify-content: center;
}

.nav-link:hover {
    background-color: #483285ff;
    border-radius: 4px;
    padding: 12px 24px;
    /* Atau warna latar belakang kuning yang Anda inginkan */
}

.button-nav {
    /* height: 2rem; */
    /* justify-content: center; */
    margin: auto;
}

.button-navb {
    display: inline-block;
    background-color: #483285;
    /* Warna latar belakang */
    color: #ffffff;
    /* Warna teks */
    border: none;
    border-radius: 4px;
    /* Sudut tombol yang melengkung */
    /* cursor: pointer; */
    transition: background-color 0.3s ease;
    /* Efek animasi saat hover */
    position: relative;
    justify-content: center;
}

.grid {
    width: 70%;
    margin: 0 auto;
    /* height: 5rem; */
    border: 1px solid;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.grid .ok {
    background-color: #d84e17;
    display: inline;
    width: 30%;
    height: 24rem;
    margin: 3rem;
    border: 1px solid black;
}

.skills-item img {
    width: 6rem;
    margin: 10px;
}

.lanskap {
    height: 640px;
    /* height: 100vh; */
    width: 100%;
    /* background-color: #fff; */
    background-image: -webkit-linear-gradient(-65deg, #483285 50%, #2C1E59 50%);
}

.lanskap img {
    height: 352px;
    width: 529px;
    border-radius: 25px;
    position: absolute;
    margin: auto;
    margin-left: 1.5rem;
    top: 60%;
    bottom: 40%;
}

.lansHead {
    position: absolute;
    right: 20%;
    top: 30%;
    text-align: center;
    color: #FFFFFF;
}

.lansFoot {
    position: absolute;
    right: 5%;
    bottom: 15%;
    margin-top: 3rem;
    width: 611px;
    color: #FFFFFF;
}

.aboutMe {
    /* background: none !important; */
    background-color: #483285;
    /* display: flex; */
    /* flex-direction: row; */
}

.about {
    text-align: center;
    padding: 5rem 7rem;
    /* margin: 1rem 0; */
    background-color: #2C1E59;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Bellefair', serif;
}

.about2 {
    background-color: #483285;
}

.about h3 {
    font-size: 2rem;
}

.about ul {
    padding-left: 0;
}

.about ul li {
    text-decoration: none;
    display: block;
    padding: 1rem;
}

.experience {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Bellefair', serif;
}

.experience li {
    padding-bottom: 5px !important;
}

.experience li b {
    padding: 0 !important;
}

.experience ul li {
    padding: 3px !important;
}

.experience ol {
    margin-bottom: 1rem;
    counter-reset: my-counter !important;
    /* Menginisialisasi counter CSS */
}

.experience ol li {
    /* list-style-type: circle; */
    padding: 3px !important;
    display: block;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    counter-increment: my-counter;
    /* Increment counter setiap kali elemen <li> muncul */
}

.experience ol li::before {
    content: counter(my-counter) ".";
    padding-right: 8px;
}

.education {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Bellefair', serif;
}

.education li {
    padding-bottom: 5px !important;
}

.education li b {
    padding: 0 !important;
}

.education ul li {
    padding: 3px !important;
}

.education ol {
    margin-bottom: 1rem;
    counter-reset: my-counter !important;
    /* Menginisialisasi counter CSS */
}

.education ol li {
    /* list-style-type: circle; */
    padding: 3px !important;
    display: block;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    counter-increment: my-counter;
    /* Increment counter setiap kali elemen <li> muncul */
}

.education ol li::before {
    content: counter(my-counter) ".";
    padding-right: 8px;
}

.border-bottom {
    width: 20%;
    border-color: rgb(206, 40, 40) !important;
    margin: 0 auto 3rem;
    /* border-width: 4px; */
}

.contact-item a {
    text-decoration: none;
    text-decoration-style: none;
    color: #FFFFFF;
}

.contact-item {
    font-size: 24px;
}

.contact-item img {
    width: 3rem;
    padding-right: 10px;
}

@media (max-width: 834px) {
    .project {
        background: url("./assets/project-tablet.svg");
        background-position: bottom;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: cover;
    }

    .lanskap {
        height: 1194px;
        width: 100%;
        background-image: -webkit-linear-gradient(-65deg, #483285 50%, #2C1E59 50%);
    }

    .lanskap img {
        height: 352px;
        width: 529px;
        border-radius: 25px;
        position: relative;
        left: 15%;
        right: 15%;
        top: 25%;
    }

    .lansHead {
        position: absolute;
        right: 20%;
        left: 20%;
        top: 67%;
        text-align: center;
        color: #FFFFFF;
    }

    .lansFoot {
        position: absolute;
        left: 17%;
        bottom: 7%;
        margin-top: 3rem;
        width: 611px;
        color: #FFFFFF;
    }

    .card {
        width: 90% !important;
    }

    .card-body {
        margin-top: 1rem !important;
        margin-left: 0 !important;
    }

    .card-title {
        font-size: 1.3rem !important;
        padding-bottom: 0px !important;
    }

    .card-body ul {
        padding-left: 3px;
    }

    .card-body button {
        font-size: 12px !important;
    }

    .contact-item {
        text-align: center;
        padding: 1rem 0 !important;
        font-size: 1.5rem;
    }

    .education {
        font-size: 2rem;
    }

    .education ol li {
        font-size: 22px !important;
        margin: auto !important;
    }
}

    @media (max-width: 767px) {

        /* Mengatur margin dan padding ulang untuk perangkat mobile */
        .container {
            padding: 10px;
        }

        .body-home {
            background: url("./assets/home-tablet.svg");
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .lanskap {
            height: 1194px;
            width: 100%;
            background-image: -webkit-linear-gradient(-65deg, #483285 50%, #2C1E59 50%);
        }
    
        .lanskap img {
            height: 352px;
            width: 529px;
            border-radius: 25px;
            position: relative;
            left: 15%;
            right: 15%;
            top: 25%;
        }
    
        .lansHead {
            position: absolute;
            right: 20%;
            left: 20%;
            top: 67%;
            text-align: center;
            color: #FFFFFF;
        }
    
        .lansFoot {
            position: absolute;
            left: 17%;
            bottom: 7%;
            margin-top: 3rem;
            width: 611px;
            color: #FFFFFF;
        }

        .project {
            background: url("./assets/project-tablet.svg");
            background-position: bottom;
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
            background-size: cover;
        }

        .card {
            width: 90% !important;
        }

        .card-body {
            margin-top: 1rem !important;
        }

        .card-title {
            font-size: 1.3rem !important;
            padding-bottom: 0px !important;
        }

        .card-body ul {
            padding-left: 3px;
        }

        .card-body button {
            font-size: 12px !important;
        }

        h3 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }

        .contact-item {
            text-align: center;
            padding: 1.5rem 0 !important;
            font-size: 1rem;
        }

        .about {
            padding: 20px;
        }

        .about p {
            font-size: 1rem;
            margin: auto;
            width: 90%;
        }

        .about ul li {
            font-size: 1rem;
        }

        .experience ol {
            padding: 0% !important;
        }

        .experience ol li {
            /* list-style-type: circle; */
            padding: 3px !important;
            display: block;
            position: relative;
            margin: auto;
            align-items: center;
            justify-content: center;
            font-size: 12px !important;
            text-align: center;
        }

        .content h1 {
            font-size: 4rem;
        }

        .content p {
            font-size: 1rem;
        }

        .link ul li {
            margin: 5rem;
        }

        .button-home {
            width: 5rem;
            height: 2.5rem;
            font-size: 0.7rem;
            padding: 0;
        }

        .project {
            background-size: cover;
        }

        .project .card {
            width: 80% !important;
            /* height: 20vh; */
        }

        .card-title {
            font-size: 1.3rem;
            padding-bottom: 8px !important;
        }

        .card-head img {
            width: 100%;
        }

        .card-body {
            width: 100%;
            /* padding: 0 !important;
        margin: 0 !important; */
            margin-left: 0 !important;
            padding: 5px !important;
        }

        .card-body ul li {
            font-size: 1rem;
            /* font-weight: 10px; */
            padding: auto 0;
            margin: 10px auto;
        }

        .card-body ul li button {
            font-size: 1rem;
            /* font-weight: 1rem; */
            padding: auto 0;
            width: 5rem;
        }
    }

    @media (max-width: 414px) {

        /* Mengatur margin dan padding ulang untuk perangkat mobile */
        .container {
            padding: 7px;
        }

        .body-home {
            background: url("./assets/home-mobile.svg");
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .project {
            background: url("./assets/project-mobile.svg");
            background-position: bottom;
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
            background-size: cover;
        }

        .lanskap {
            height: 812px;
            width: 100%;
            background-image: -webkit-linear-gradient(-45deg, #483285 50%, #2C1E59 50%);
        }
    
        .lanskap img {
            height: 173px;
            width: 260px;
            border-radius: 25px;
            position: relative;
            left: 10%;
            right: 10%;
            top: 35%;
            /* bottom: 40%; */
        }
    
        .lansHead {
            position: relative;
            right: 4%;
            left: 1%;
            top: 45%;
            bottom: 40%;
            text-align: center;
            color: #FFFFFF;
        }
    
        .lansFoot {
            position: relative;
            left: 7%;
            top: 50%;
            margin-top: 3rem;
            width: 90%;
            color: #FFFFFF;
        }

        .card-body {
            margin-top: 1rem !important;
        }

        .card-title {
            font-size: 1.3rem !important;
            padding-bottom: 0px !important;
        }

        .card-body ul {
            padding-left: 3px;
        }

        .card-body button {
            font-size: 12px !important;
        }

        .container-fluid {
            width: fit-content;
        }

        .navbar-toggler {
            width: fit-content;
        }

        .navb {
            width: fit-content;
        }

        .nav-item {
            padding: 0;
        }

        .navbar-nav {
            margin: auto;
        }

        .navbar-brand {
            padding: 0;
        }

        h3 {
            font-size: 24px;
        }

        .about h3 {
            margin-bottom: 0%;
            font-size: 20px;
        }

        .experience ol {
            padding: 0% !important;
        }

        .experience ol li {
            /* list-style-type: circle; */
            padding: 3px !important;
            display: block;
            position: relative;
            margin: auto;
            align-items: center;
            justify-content: center;
            font-size: 0.6rem !important;
            text-align: center;
        }

        .education {
            padding: 1rem;
        }

        .education li {
            margin-top: 0% !important;
        }

        .education ol {
            padding: 0% !important;
        }

        .education ol li {
            /* list-style-type: circle; */
            padding: 3px 5px !important;
            display: block;
            position: relative;
            margin: auto;
            align-items: center;
            justify-content: center;
            font-size: 0.6rem !important;
            text-align: center;
        }

        .border-bottom {
            margin-bottom: 1rem;
            width: 30%;
        }

        p {
            font-size: 12px;
        }

        .contact-item {
            text-align: center;
            padding: 0.5rem 0 !important;
            font-size: 12px;
        }

        .contact-item img {
            width: 2rem;
        }

        .skills-item img {
            width: 4rem;
            margin: 10px;
        }

        .about {
            padding: 1rem 10px;
        }

        .about .row {
            padding-right: 0;
            margin: 0;
        }

        .about p {
            font-size: 12px;
        }

        .about ul li {
            font-size: 12px;
            padding: 10px;
        }

        .about ul {
            padding: 0;
        }

        .content h1 {
            font-size: 3rem;
        }

        .content p {
            font-size: 1rem;
            width: 50vh;
            text-align: center;
            margin: auto;
        }

        .link ul li {
            margin: 0.5rem;
            display: block;
        }

        .button-home {
            width: 4.5rem;
            height: 1.2rem;
            font-size: 0.7rem;
            padding: 0;
        }

        .button-home:hover {
            background-color: #FFC700 !important;
        }
    }

    .data {
        border: 1px solid black;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .proyek {
        background-color: #d84e17;
        /* display: flex; */
        justify-content: center;
        margin: 50vh 0;
        margin-top: 10px;
    }

    .biodata {
        /* border: 1px solid black; */
        margin: auto;
        background-color: aliceblue;
    }


    .oke {
        height: 90vh;
        /* margin: 1rem; */
        /* background-color: #d84e17; */
    }

    .card img {
        max-width: 100%;
        /* Membuat gambar responsif */
        border-radius: 10px;
        /* Membuat gambar sesuai aspek rasio */
    }

    .card-body {
        margin-left: 1rem;
        border-radius: 10px;
        background-color: #2C1E59;
        border: 2px solid #2C1E59;
        font-family: 'Bellefair', serif;
    }

    .card-body li {
        text-decoration: none;
        display: block;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .card-body ul {
        margin: auto;
        text-decoration: none;
    }

    .card-body ul button {
        display: block;
        width: 7rem;
        height: 2rem;
        font-size: 1rem;
        color: black;
    }

    .card-body a {
        text-decoration: none;
        font-weight: 400;
    }

    .card-body h5 {
        text-align: center;
        padding-bottom: 1.5rem;
        font-size: 1.8rem;
        color: #FFFFFF;
    }
